<div class="container">
  <div class="jumbotron index-banner">
    <h2>Mr. Bojangles has the Skills to pay those bills.</h2>
    <p>He can sing, dance, AND automate you to-do list clean-up. Name another person who can make that claim.</br>
    Then name one that has such a cool name...</p>
  </div>
  <h3>Features Include</h3>
    <ul>
      <li><p>Automatically Delete Old items. No more clutter on your list.</p></li>
      <li><p>Assign tasks to employees that show up on their list. Now there is no confusion as to what they should be doing.</p></li>
      <li><p>Allow employees to reasign tasks. To keep them honest, employee reassignments must be approved by their manager.</p></li>
      <li><p>See what tasks your employees did not finish. Then reassign them to get the clock started again.</p></li>
    </ul>
</br>
</br>
</br>
  <h4>Not only is Mr. Bojangles very entertaining, he is also quite generous! Get started for <strong>free</strong> by signing up above.</br>
  <small>You will wonder how you got anything done before Bojangle-Bloccitoff!</small>
  </h4>
</div>
  
  
  
