<div class="container">
  <div class="jumbotron index-banner">
    <h2>Bojangle-Bloccitoff</h2>
    <p>A small web app that will keep you and your employees on task</p>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h3>Improves Productivity!</h3>
      <p>Mr Bojangles wants you to be the best version of yourself possible. With his help you will get things done in a timely manner.</p>
    </div>
    <div class="col-md-4">
      <h3>Keeps employees from pointing the finger at each other!</h3>
      <p>Perhaps this one is a strech as they are still likely to succumb to the Fundamental Attribution Error. However, should a task be assigned to the wrong person, Mr Bojangles is here to help.</p>
    </div>
    <div class="col-md-4">
      <h3>Cut the Clutter!</h3>
      <p>Mr Bojangles works behind the scenes to take care of your unfinnshed tasks for you. Ever bought those eggs you needed 5 months too late? Me either, but now you dont have to worry about that happening!</p>
    </div>
</div>