<div class="container">
  <div class="jumbotron index-banner">
    <h2>Bojangle-Bloccitoff</h2>
    <p>A small web app that will keep you on task. If you are tired of your todo list being out of control then</br> Mr. Bojangles is here to help you!</p>
    <p>
      <%= link_to "Sign In", new_user_session_path, class: 'btn btn-default' %> or
      <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-default' %> now!
    </p>
  </div>
</div>